@use '../../scss/colors.scss';
@use '../../scss/typography.scss';

.second-top-nav{
  display: grid;
  grid-template-columns: 670px auto;
  align-items: center;
  height: 58px;
  box-shadow: 0px 7px 20px -20px rgba(0,0,0,1);
  font-size: 16px;
  font-family: typography.$family-font-basic;
  font-weight: 600;
  color: colors.$secondary-color;
  background-color: white;

  ul{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
  }
  form{
    position: relative;
    display: flex;
    justify-content: end;
  

   :first-child{
    position: relative;
    left:50px;
    top:8px;
    font-size: x-large;
  }

 .close-icon {
    position: absolute;
    right:20px;
    top:8px;
    font-size: x-large;
  }
}

  div {
    display: flex;
    align-items: center;

    :first-child{
      margin-left: 5px;
      font-weight: 500;
    }
  }
  input[type="text"]{
    height: 37px;
    width:62%;
    padding: 0px 40px;
    margin-left:15px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1.8px solid #DCE3ED;
    box-shadow: -12px 0px 18px -17px rgba(0,0,0,0.75);
  }

  ::placeholder {
    font-size: 1em;
  }
}

.second-top-nav li:hover {
color:colors.$primary-color;
cursor: pointer;
}

@media (max-width:1087px){
  .second-top-nav{
    display: none;
  }
}