@use '../../scss/colors.scss';
@use '../../scss/typography.scss';


.category-info{
  padding: 0px;
}

.category-card{
  position: relative;
  margin-bottom: 5%;
}

.category-card::after{
  content: "";
  display:inline-block;
  width: 91%;
  height: 10px;
  position: absolute;
  z-index: -3;
background-color: rgb(255, 255, 255);
top:102%;
box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.6);
}

.category-text::after{
  content: "";
  display:inline-block;
  width: 95%;
  height: 10px;
  position: absolute;
  z-index: -2;
background-color: rgb(255, 255, 255);
top:100%;
left:0px;
box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.6);
}

  .category-text{
    text-align: center;
  // height: 50%;
  
  h1 {
    font-size: 17px;
    font-weight: 500;
    color: colors.$secondary-color;
  }
  
  p{
    font-size: 15px;
    font-weight: 300;
    color: colors.$primary-color;
  }
}

.grocery-style{
  padding: 5% 4%;
}

.other-style{
  padding-top:6%;
}

.collection-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width:133px;
  border-radius: 5px;
  margin: auto;
  border: colors.$primary-color solid 2px;
  background-color: initial;
  color:colors.$primary-color;
  font-size: .85em;
  cursor: pointer;
  margin-top: 12px;
}

@media (min-width:1286px) {
  .category-info{
    padding-bottom: 0px;
  }
}

@media (max-width:1159px) and (min-width:658px) {
  .category-info{
    padding-bottom: 0px;
  }

}

@media (max-width:658px) {
  .category-info{
    padding-bottom: 18px;
  }

  .category-text::before{
    top:144px;
  }
}



