@use '../../scss/colors.scss';
@use '../../scss/typography.scss';

.top-nav{
  display: grid;
  grid-template-columns: 15% auto;
  align-items: center;
  z-index: 5;
  height: 60px;
  background-color: colors.$primary-color;
  font-family: typography.$family-font-basic;
  color: white;
  font-weight: 600;
  font-size: .9em;
  
  
  .logo{
    width:170px;
    padding-left: 5px;
  }

  .nz{
    padding-left:15px;
    padding-right: 40px;
    border-left:rgba(236, 236, 236, 0.5) solid 2px;
  }

  ul{
    display: flex;
    justify-content: end;
    align-items: center;

    svg{
      font-size:25px;
    }

    li{
      padding: 0px 15px;
    }

    li div {
      display: flex;
      align-items: center;
    }

    li div :first-child {
      font-size:28px;
    }
    .auckland {
      padding:0px;
    }

  }


}  

.top-nav li:hover, img{
  cursor: pointer;
}

  .subscribe :first-child{
    margin-right: 7px;
  }




  
  @media (max-width:1087px){
.top-nav{
  position: fixed;
  top:0;
  width: 100%;
}
    ul li {
      display: none;
    }

    ul :first-child{
      display: block;
    }

      }
