@use '../../scss/colors.scss';
@use '../../scss/typography.scss';

header {
    a{
      text-decoration: none;
      font-size: 14px;
      color:colors.$secondary-color;
      font-family: typography.$family-font-basic;
    }
}

.spring-collection{
  display: block;
width:97%;
margin: 0 auto;
cursor: pointer;
margin-top: 30px;
margin-bottom: 25px;
}

.small-spring-collection{
display: none;
}


.header-image-block {
  margin-bottom: 35px;
  p{
    text-align: center;
    width:95%;
    margin:0 auto;
    line-height: 20px;
    font-size: 15px;
    font-family: typography.$family-font-basic;
    color:colors.$secondary-color;

    span{
      font-weight: 800;
    }
  }
}


@media (max-width:1087px)and(min-width:600px){

  .header-image-block{
    margin-top: 70px;
  }
  .spring-collection{
margin-top: 10px;
width:95%;

  }
}


@media (max-width:600px){
  
.spring-collection{
  display: none;
}

.small-spring-collection{
  display: block;
  width:90%;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-image-block {
  margin-bottom: 25px;
  margin-top:70px;
p{
  width:92%;
}
}

}
